<div id="blogs">
  <div id="blog_list_header"></div>
  <%= link_to 'New Blog', new_blog_path, class: 'new_post_link' if logged_in? %>
  <div id="blog_list">
    <% @blogs.each do |blog| %>
      <div class='blog_post'> 
        <div class='post_title'><%= link_to blog.title, blog_path(blog) %>
          <span class='post_date'><%= blog.posting_date.strftime("%B %d, %y") %></span>
        </div>
        <p class='post_summary'>
          <%= blog.content %>
          <%= link_to '...', blog_path(blog) %>
        </p>
        <%= render 'options', blog: blog if logged_in? %>
      </div>
    <% end %>
  </div>
</div>