<!DOCTYPE html>
<html>
<head>
  <title>Brent Haas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!-- <%= render 'layouts/google_analytics' %> -->
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/messages' unless flash.empty? %>

<%= yield %>

</body>
</html>
