<!DOCTYPE html>
<html>
<head>
  <title>Brent Haas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/messages' unless flash.empty? %>

<div id="page_body">
	<%= yield %>
</div>

</body>
</html>
